* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    width: 100%;
    height: 114%;
    font: 400 1rem/1.625rem "Poppins", sans-serif;
    background: linear-gradient(to bottom right, rgba(183, 174, 242), rgba(255, 204, 203));
  }
  

header {
	padding-top: 5rem;
	padding-bottom: 2px;
	text-align: center;
}

header .h1-large {
	margin: 0;
	font-weight: 700;
    font-size: 4rem;
	color: #ffffff;
}

header .sub-head {
	margin: 1.8rem 0 3rem 0;
    font-size: 1.3rem;
	font-style: italic;
	color: #ffffff;
}


.flex-box {
    display: flex;
    margin-left: 15rem;
    margin-bottom: 2rem;
    align-items: center;
    min-height: 50px;
}

.containter {
    margin-top: 5

}
.container .card {
    height: 700px;
    width: 400px;
    background:rgba(255, 242, 225, 0.219);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 12rem;
    margin-bottom: 5rem;
}


.container .card1 {
    height: 300px;
    width: 600px;
    background-color:rgba(255, 242, 225, 0.219);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 30rem;
    margin-top: 5rem;
}


.button1 {
    width: 300px;
    height: 30px;
    background-color: rgba(148, 125, 209);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    margin-top: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}


.button2 {
    width: 300px;
    height: 30px;
    background-color: rgba(148, 125, 209);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.button3 {
    width: 300px;
    height: 30px;
    background-color: rgba(148, 125, 209);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

.button4 {
    width: 300px;
    height: 30px;
    background-color: rgba(148, 125, 209);
    outline: none;
    border: none;
    font-weight: bold;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(183, 174, 242);
}






p {
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: Helvetica;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
} 

a {
    font-weight: bold;
    font-size: 28px;
    color: rgb(0, 187, 16);
    font-family: Helvetica;
    margin-top: 5rem;
    margin-left: 3rem;
}

b {
    font-weight: bold;
    font-size: 25px;
    color: red;
    font-family: Helvetica;
    margin-top: 1rem;
    left: 2px;
}





h2 {
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: Helvetica;
    margin-top: 2rem;
    text-align: center;
}

h4 { 
    text-align: center;
    position: relative;
    top: 15%;
    font-weight: bold;
    font-size: 50px;
    color: white;
    font-family: Helvetica;
    margin-bottom: 6rem;
}




.input {
    margin-left: 2rem;
    margin-top: 2rem;
    float: left;
    font-weight: bold;
    font-size: 18px;
    color: white;
    font-family: Helvetica;
}


.input input{
    margin: 10px;
    height: 30px;
    width: 18%;
    background-color: white;
    font-size: 20px;
    outline: auto;
    border: none;
    color: rgba(183, 174, 242);
    padding: 10px;
}
